@model Web.Models.ProductModel

@{
  ViewData["Title"] = "Eliminar";
}

<h4 class="fs-4">¿Estas seguro que deseas eliminar este producto?</h4>
<div>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Id).ToUpper()
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
      Nombre
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
      Descripción
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Stock)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Stock)
    </dd>
    <dt class="col-sm-2">
      Precio
    </dt>
    <dd class="col-sm-10">
      S/. @Html.DisplayFor(model => model.Price)
    </dd>
  </dl>

  <form asp-action="Delete">
    <a asp-action="Index" class="btn btn-danger">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
      </svg>
      <span class="align-middle">Cancelar</span>
    </a>
    <button type="submit" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill me-1"
        viewBox="0 0 16 16">
        <path
          d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5v-13Z" />
        <path
          d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5V16Zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V0ZM9 1h2v4H9V1Z" />
      </svg>
      <span class="align-middle">Eliminar</span>
    </button>
  </form>
</div>
